In [2]:
import pandas as pd
df=pd.read_csv("Indian_Kids_Screen_Time.csv")

In [3]:
df.head()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban

In [4]:
df.tail()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
9707,17,Male,3.26,Smartphone,True,0.44,Poor Sleep,Urban
9708,17,Female,4.43,Smartphone,True,0.40,Poor Sleep,Rural
9709,16,Male,5.62,Smartphone,True,0.39,"Poor Sleep, Eye Strain, Anxiety",Rural
9710,17,Male,5.60,TV,True,0.43,Poor Sleep,Urban
9711,15,Female,6.12,TV,True,0.33,Anxiety,Urban

In [5]:
df.shape

(9712, 8)

In [6]:
df.dtypes

Age                                    int64
Gender                                object
Avg_Daily_Screen_Time_hr             float64
Primary_Device                        object
Exceeded_Recommended_Limit              bool
Educational_to_Recreational_Ratio    float64
Health_Impacts                        object
Urban_or_Rural                        object
dtype: object

In [7]:
df.columns=df.columns.str.lower().str.replace(' ','_')

In [8]:
df.duplicated().sum()

44

In [9]:
df=df.drop_duplicates(inplace=False)

In [10]:
df.duplicated().sum()

0

In [11]:
df.isnull().sum()

age                                     0
gender                                  0
avg_daily_screen_time_hr                0
primary_device                          0
exceeded_recommended_limit              0
educational_to_recreational_ratio       0
health_impacts                       3180
urban_or_rural                          0
dtype: int64

In [12]:
df['health_impacts'].fillna('No Health Impact',inplace=True)

In [13]:
(df['health_impacts']=='No Health Impact').sum()

3180

In [14]:
df['health_impacts'].value_counts()

health_impacts
No Health Impact                                 3180
Poor Sleep                                       2264
Poor Sleep, Eye Strain                            978
Eye Strain                                        644
Poor Sleep, Anxiety                               607
Poor Sleep, Obesity Risk                          452
Anxiety                                           385
Poor Sleep, Eye Strain, Anxiety                   258
Obesity Risk                                      252
Poor Sleep, Eye Strain, Obesity Risk              188
Eye Strain, Anxiety                               135
Eye Strain, Obesity Risk                          106
Poor Sleep, Anxiety, Obesity Risk                  78
Anxiety, Obesity Risk                              69
Poor Sleep, Eye Strain, Anxiety, Obesity Risk      37
Eye Strain, Anxiety, Obesity Risk                  35
Name: count, dtype: int64

In [15]:
df.shape#shape of the dataframe after dropping duplicates and filling null values in health_impacts column with 'No Health Impact'

(9668, 8)

In [16]:
df['health_impacts'].unique()

array(['Poor Sleep, Eye Strain', 'Poor Sleep', 'No Health Impact',
       'Poor Sleep, Anxiety', 'Poor Sleep, Obesity Risk', 'Eye Strain',
       'Obesity Risk', 'Anxiety', 'Poor Sleep, Anxiety, Obesity Risk',
       'Eye Strain, Obesity Risk', 'Eye Strain, Anxiety, Obesity Risk',
       'Anxiety, Obesity Risk', 'Poor Sleep, Eye Strain, Obesity Risk',
       'Poor Sleep, Eye Strain, Anxiety',
       'Poor Sleep, Eye Strain, Anxiety, Obesity Risk',
       'Eye Strain, Anxiety'], dtype=object)

In [17]:
df['gender'].unique()#unique values

array(['Male', 'Female'], dtype=object)

In [18]:
df['gender'].value_counts()#count of each unique value

gender
Male      4928
Female    4740
Name: count, dtype: int64

In [19]:
df['primary_device'].unique()#unique values in primary_device column

array(['Smartphone', 'Laptop', 'TV', 'Tablet'], dtype=object)

In [20]:
df['primary_device'].value_counts()#count of each unique value in primary_device column

primary_device
Smartphone    4540
TV            2478
Laptop        1431
Tablet        1219
Name: count, dtype: int64

In [21]:
df['exceeded_recommended_limit'].unique()#unique values in excess_screen_time column

array([ True, False])

In [22]:
df['health_impacts']=df['health_impacts'].str.replace(',  ',',')#remove space after comma in health_impacts column

In [30]:
df['health_impacts'].unique()#unique values in health_impacts column

array(['Poor Sleep, Eye Strain', 'Poor Sleep', 'No Health Impact',
       'Poor Sleep, Anxiety', 'Poor Sleep, Obesity Risk', 'Eye Strain',
       'Obesity Risk', 'Anxiety', 'Poor Sleep, Anxiety, Obesity Risk',
       'Eye Strain, Obesity Risk', 'Eye Strain, Anxiety, Obesity Risk',
       'Anxiety, Obesity Risk', 'Poor Sleep, Eye Strain, Obesity Risk',
       'Poor Sleep, Eye Strain, Anxiety',
       'Poor Sleep, Eye Strain, Anxiety, Obesity Risk',
       'Eye Strain, Anxiety'], dtype=object)

In [23]:
df['health_impacts_list'] = df['health_impacts'].str.split(',')#split health_impacts column into  a list of health impacts

In [24]:
df[['health_impacts','health_impacts_list']].head()

           health_impacts        health_impacts_list
0  Poor Sleep, Eye Strain  [Poor Sleep,  Eye Strain]
1              Poor Sleep               [Poor Sleep]
2              Poor Sleep               [Poor Sleep]
3        No Health Impact         [No Health Impact]
4     Poor Sleep, Anxiety     [Poor Sleep,  Anxiety]

In [25]:
df_exploded=df.explode('health_impacts_list')#explode health_impacts_list column to create a new row for each health impact

In [26]:
df_exploded['health_impacts_list'].value_counts()#count of each unique health impact in health_impacts_list column after exploding the list into new rows

health_impacts_list
Poor Sleep          4862
No Health Impact    3180
 Eye Strain         1461
 Anxiety            1150
 Obesity Risk        965
Eye Strain           920
Anxiety              454
Obesity Risk         252
Name: count, dtype: int64

In [27]:
df_exploded[df_exploded['health_impacts_list']=='No Health Impact']#filter rows where health_impacts_list column contains 'No Health Impact'

,age,gender,avg_daily_screen_time_hr,primary_device,exceeded_recommended_limit,educational_to_recreational_ratio,health_impacts,urban_or_rural,health_impacts_list
3,15,Female,1.21,Laptop,False,0.39,No Health Impact,Urban,No Health Impact
6,17,Male,2.97,TV,False,0.48,No Health Impact,Rural,No Health Impact
7,10,Male,2.74,TV,True,0.54,No Health Impact,Urban,No Health Impact
19,9,Female,0.00,TV,False,0.42,No Health Impact,Urban,No Health Impact
22,9,Female,1.63,Tablet,False,0.58,No Health Impact,Urban,No Health Impact
...,...,...,...,...,...,...,...,...,...
9695,12,Female,2.69,Smartphone,False,0.48,No Health Impact,Urban,No Health Impact
9697,16,Female,4.74,Smartphone,True,0.41,No Health Impact,Rural,No Health Impact
9699,10,Female,2.85,TV,True,0.49,No Health Impact,Urban,No Health Impact
9701,16,Male,6.08,Smartphone,True,0.38,No Health Impact,Urban,No Health Impact
9706,8,Male,4.84,Smartphone,True,0.55,No Health Impact,Rural,No Health Impact

In [28]:
df_exploded.duplicated().sum()#check for duplicate rows in exploded dataframe

0

In [29]:
(df_exploded['health_impacts_list']=='No Health Impact').sum()

3180